/* Box Model Hack */
* {
     /* outline: 1px solid blue; */
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
     height: 80px;
}
header div {
     float: right;
     margin-right: 75px;
     margin-top: 30px;
}
h1, h3 {
     text-align: center;
     clear: both;
     margin: 10px;
}
input,
label {
     margin: .4rem 0 0 .7rem;
}
label {
     display: block;
     margin-top: 80px;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/*******************************************
     TAB STYLES
*******************************************/
/* Tabs */
.tab {
     overflow: hidden;
     border: 1px solid white;
     background-color: gray;
     width: 98%;
     margin: .4rem auto;
}
/* Tab button style */
.tab button {
     background-color: inherit;
     float: left;
     width: 120px;
     padding: 14px 0;
     transition: 0.3s;
}
.tab button:hover {
     background-color: #ddd;
}
.tab button.active {
     background-color: #ccc;
}
.tabcontent {
     display: none;
     padding: 6px 12px;
     border: 1px solid #ccc;
     border-top: none;
}

/****************************************
     TABLE STYLES
*****************************************/
table,
td {
     border: 1px solid black;
}
thead,
tfoot {
     background: black;
     color: white;
}
.category-row {
     background: #d9d9d9;
}
td {
     width: 100px;
     padding: 10px;
}
.study-amount {
     width: 75px;
}
.study-comment {
     min-width: 40%;
     width: 95%;
}