    <script src="https://kit.fontawesome.com/c92b06f6cd.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</body>
</html>