<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
    <title>HST Tracker</title>
</head>
<body>
    <!-- Username -->
    <header>
        <div class="dropdown">
            <button class="dropbtn"><i class="fa-solid fa-square-caret-down"></i> <%= `${user.firstName} ${user.lastName}` %></button>
            <div class="dropdown-content">
                <a href="/studies/myStudies">My Studies</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
</body>
</html>