<%- include('partials/header') -%>
    <!-- Title -->
    <section class="title">
        <h1>Home Sleep Study Tracker</h1>
        <h3>For the office of Samuel H.S. The</h3>
    </section>

    <section class="welcome">
        <h2>Welcome</h2>
        <span>Please select a lab</span>
        <div>
            <a href="/studies/hackensack">Hackensack</a>
            <a href="/studies/wayne">Wayne</a>
            <a href="/studies/myStudies">My Studies</a>
        </div>
    </section>    

<%- include('partials/footer') -%>