<%- include('partials/header') -%>
<body class="main">
    <section class="welcome">
        <h2>Welcome, <%= user.firstName %>!</h2>
        <span>Please select a lab:</span>
        <div>
            <a href="/studies/hackensack">Hackensack</a>
            <a href="/studies/wayne">Wayne</a>
        </div>
        <div>
            <img src="../css/images/doctor.jpg" alt="Doctor reading chart">
        </div>
    </section>    
<body>
<%- include('partials/footer') -%>