<%- include('partials/guestheader') -%>
<body>
  <!-- <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Home Sleep Study Tracker</h1>
        <p class="py-6">For the Office of Samuel H.S. The</p>
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/signup" class="btn btn-primary">Sign Up</a>
      </div>
    </div>
  </div> -->
    <!-- Title -->
    <section class="title">
        <h1>Home Sleep Study Tracker</h1>
        <h3>For the office of Samuel H.S. The</h3>
    </section>

    <section class="welcome">
        <h2>Welcome</h2>
        <div>
          <a class="btn btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/login">Login</a>
        </div>
        <div>
          <a class="btn btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/signup">Sign up</a>
        </div>
    </section>    

<%- include('partials/footer') -%>