<%- include('partials/guestheader') -%>
<title>Summit Medical</title>
<body>
    <!-- Title -->
    <section class="title">
        <a href="/"><h1>Summit Medical</h1></a>
        <h3>Sleep Study Tracker</h3>
        <img src="../css/images/doctoroffice.jpg" alt="Doctor's office">
    </section>

    <section class="welcome">
        <div>
          <a class="btn btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/login">Login</a>
        </div>
        <div>
          <a class="btn btn-wide btn-xs sm:btn-sm md:btn-md lg:btn-lg" href="/signup">Sign up</a>
        </div>
    </section>    

<%- include('partials/footer') -%>