<%- include('partials/guestheader') -%>
<body>
    <!-- Title -->
    <section class="title">
        <a href="/"><h1>Home Sleep Study Tracker</h1></a>
        <h3>For the office of Samuel H.S. The</h3>
    </section>

    <section class="login">
      <h2>Login</h2>
              <form class="box" action="/login" method="POST">
    
                <% if (locals.messages.errors) { %>
                  <% messages.errors.forEach( el=> { %>
                    <div class="notification is-danger is-light">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>
                        <% if (locals.messages.info) { %>
                          <% messages.info.forEach( el=> { %>
                            <div class="notification is-danger is-light">
                              <%= el.msg %>
                            </div>
                            <% }) %>
                              <% } %>
    
                      <div class="login-field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input class="input" type="email" name="email" placeholder="e.g. alex@example.com">
                        </div>
                      </div>

                      <div class="login-field">
                        <label class="label">Password</label>
                        <div class="control">
                          <input class="input" type="password" name="password" placeholder="********">
                          <a href="">Forgot password?</a>
                        </div>
                      </div>
                      <input type="submit" class="btn md:btn-md lg:btn-lg" value="Log In">
                </form>
              <div>
                <p>Don't have an account?
                  <a href="/signup">Sign up</a>
                </p>
              </div>
            </div>
          </div>
        </section>
    </section>

<%- include('partials/footer') -%>