<%- include('partials/header') -%>
    <!-- Title -->
    <section class="title">
        <h1>Home Sleep Study Tracker</h1>
        <h3>For the office of Samuel H.S. The</h3>
    </section>

    <section class="welcome">
        <h2>Welcome</h2>
        <div>
            <p>You do not have access to this practice's database. Please contact the administrator for access privileges.</p>
        </div>
    </section>    

<%- include('partials/footer') -%>